@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
     font-family: "Outfit", serif;
     margin: 0% 10%;
    }





    @media only screen and (max-width: 600px) {
     body {
          margin: 0% 2%;
          overflow-x: hidden;
     }
   }

    