@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: black;
    color:  white;
    
    
}

p{
    font-size: 20px;
}